<?xml version="1.0"?>

<launch>

    <!-- ************************* 世界 *************************** -->
    <include file="$(find gazebo_worlds)/launch/obstacles.launch"/>

<!--     ************************* 地面站 ***************************-->
    <arg name="uavNumbers" default="1" />
    <arg name="dji_gazebo" default="gazebo"/>
    <include file="$(find ground_control_station)/launch/ground_control.launch">
        <arg name="uavNumbers" value="$(arg uavNumbers)"/>
        <arg name="dji_gazebo" value="$(arg dji_gazebo)"/>
    </include>

    <!-- ************************* 无人机 *************************** -->
    <arg name="model" default="$(find quadrotor_realsense)/urdf/quadrotor.gazebo.xacro"/>
    <arg name="uavName" default="uav1" />
    <arg name="x" default="0" />
    <arg name="y" default="2"/>

    <group ns="$(arg uavName)">
        <include file="$(find quadrotor_realsense)/launch/spawn_realsense_quadrotor.launch">
            <arg name="name" value="$(arg uavName)" />
            <arg name="frameId" value="$(arg uavName)" />
            <arg name="tf_prefix" value="$(arg uavName)" />
            <arg name="model" value="$(arg model)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
        </include>
        <!-- 加载 d435 摄像机的坐标名称变换launch -->
        <include file="$(find quadrotor_realsense)/launch/realsense_d435_camera_static_transforms.launch">
            <arg name="camera_name" value="d435" />
            <arg name="uavName" value="$(arg uavName)" />
        </include>
    </group>

    <!-- ************************* rviz *************************** -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find quadrotor_realsense)/rviz/quadrotor_realsense_woods.rviz"/>


</launch>