<?xml version="1.0"?>

<launch>
    <!-- world 文件 -->
    <arg name="world" value="$(find gazebo_worlds)/worlds/obstacles.world"/>
    <!-- 启动gazebo -->
    <arg name="gui" default="true"/>
    <arg name="args" default=""/>

    <param name="/use_sim_time" value="true" />
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world) $(arg args)" respawn="false" output="screen"/>

    <!-- start gui -->
    <group if="$(arg gui)">
        <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
    </group>

</launch>
